<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather App</title>
  <!-- Google Fonts (Montserrat) -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
  <!-- CSS -->
  <link rel="stylesheet" href="../css/style.css">
  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="../pictures/favicon.svg">
</head>

<body>
  <!-- Include navigation bar -->
  <%- include('./weatherComponents/navbar.ejs') %>

  <div id="app">
    <!-- Include input container -->
    <%- include('./weatherComponents/inputContainer.ejs') %>

    <!-- Include button container -->
    <%- include('./weatherComponents/buttonContainer.ejs') %>

    <!-- Include weather info -->
    <%- include('./weatherComponents/weatherInfo.ejs') %>

    <!-- Include map container -->
    <%- include('./weatherComponents/mapContainer.ejs') %>
  </div>

  <script src="../js/main.js"></script>
  
  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</body>

<footer class="footer global-padding bg-dark-subtle">
  <div class="footer-container">
    <h4 class="mb-3">Talgatov Aibyn</h4>
    <p>SE-2206</p>
    <p>Astana IT University</p>
    <p>WEB Technologies II</p>
  </div>
  <div class="footer-container">
    <p class="mb-3">Links</p>
    <div class="links">
      <a href="https://t.me/a1byn" target="_blank">Telegram</a>
      <a href="https://github.com/a169n" target="_blank">GitHub</a>
      <a href="https://www.linkedin.com/in/aibyn-talgatov-b324b017b/" target="_blank">LinkedIn</a>
    </div class="links">
  </div>
</footer>

</html>
